body {
   background-color: black;
   text-align: center;
}

h1 {
   color: white;
   font-family: Arial;
}

#myCanvas {
   background-color: #2a55;
   background-image: url("images/background.webp");
   background-size: cover; /* or any other size property you prefer */
   background-repeat: no-repeat;
   background-position: center;
}